$purpleMain500: #9854F6;
$purple100: #F2EBF9;
$purple200: #E5D5FA;
$black: #000;
$backgroundGrey100:#F5F5F6;
$grey600:#7B7C88;
$white:#fff;
$grey500:#ACADB9;
$gold:#FAB005;
$bgcBody:#D6D6D6;
$grey300:#D5D6DC;


