@import '../../../../../variable';

.poster {
    background-color: #EAEBED;
    width: 119px;
    height: 170px;
    margin-right: 16px;
}

.empty{
    display: flex;
    color:$grey500;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 4px;
}

